html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #cbe7ff;
}

.navbar {
    margin-bottom: 20px;
}

.product-item h1 {
    font-size: 18px;
}

.product-item {
    height: 360px;
    background: white;
    border: 1px dashed lightgray;
    position: relative;
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
}

.product-item-image img {
    height: 100px;
}

.add-to-card-button {
    position: absolute;
    bottom: 15px;
    left: 50px;
}
