{% extends 'base.html' %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">News</h1>
            </div>
            {% for product_image in product_images %}
                {% include 'landing/product_row.html' %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Phones</h1>
            </div>
            {% for product_image in product_images_phone %}
                {% include 'landing/product_row.html' %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Laptops</h1>
            </div>
            {% for product_image in product_images_laptop %}
                {% include 'landing/product_row.html' %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}