<div class="col-lg-3">
    <div class="product-item">
        <div class="product-item-image">
            <a href="{% url 'product_detail' product_image.product.id %}">
                <img src="{{ product_image.image.url }}" alt="{{ product_image.product.name }}">
            </a>
        </div>
        {% if product_image.product.discount %}
            <div class="discount-container">
                <span>-{{ product_image.product.discount }}%</span>
            </div>
        {% endif %}
        <div class="product-item-body">
            <h1>{{ product_image.product.name }}</h1>
            <p>{{ product_image.product.short_description|truncatechars_html:30 }}</p>
            <p>{{ product_image.product.price }}</p>
        </div>
        <div class="add-to-card-btn">
            <button class="btn btn-success">
                <span class="glyphicons glyphicons-shopping-cart"></span>
                add
            </button>
        </div>
    </div>
</div>